  <link rel="stylesheet" href="style.scss">
  <link href="https://raw.githubusercontent.com/mrmlnc/material-color/master/material-color.scss" rel="stylesheet" />

// These variables help keep track of the input name and ID
// currentTab helps keep track of each individual input
- var currentTab = 1
// tabControlName is used as a unique identifier for the accordion
- var tabControlName = 'rad'
mixin tab(title, checked)
  li
    - var tabId = tabControlName + currentTab++
    // Using radio inputs means only one can be selected at a time
    // The ID must be unique so the label will point to the input
    input(id=tabId type='radio' name=tabControlName checked=checked)
    label(for=tabId): div=title
    .accslide
      .content
        block
    
ul
  +tab('Just keep going with longer text', true)
    h1 Just keep going with longer text
    p Lorem ipsum...
  +tab('Second panel')
    h1 Second panel
    p Lorem ipsum...
  +tab('Third panel')
    h1 Third panel
    p Lorem ipsum...
  +tab('Fourth panel')
    h1 Fourth panel
    p Lorem ipsum...

